 <!-- About Section -->
    <section class="success" id="about" style="background-color: #fff; color: #1a242f;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Frontend</h3>
                </div>
                <div class="col-lg-6" style="margin-top: 16px; font-size: 20px;">
						<ul>
							<li>Angular, React, TypeScript, JavaScript</li>
							<li>HTML, SCSS, CSS</li>
						</ul>
                </div>
            </div>

				<div class="row">
					<div class="col-lg-4 col-lg-offset-2">
						 <h3>Mobile App</h3>
					</div>
					<div class="col-lg-6" style="margin-top: 16px; font-size: 20px;">
					  <ul>
						  <li>Ionic, Capacitor, Cordova, PWA</li>
					  </ul>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2">
						 <h3>DevOps</h3>
					</div>
					<div class="col-lg-6" style="margin-top: 16px; font-size: 20px;">
						<ul>
							<li>AWS</li>
							<li>S3, EC2, Cloud Front, Route 53</li>
						</ul>
					</div>
			  	</div>
				<div class="row">
					<div class="col-lg-4 col-lg-offset-2">
						<h3>Collaboration</h3>
					</div>
					<div class="col-lg-6" style="margin-top: 16px; font-size: 20px;">
						<ul>
							<li>Github</li>
							<li>Slack</li>
						</ul>
					</div>
		  		</div>
        </div>
    </section>
<!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->