<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/avatar.jpeg" alt="avatar-pic"
		  style="width: min(30vw, 240px); height: min(30vw, 240px); object-fit: cover; border-radius: 50%;" />
        <div class="intro-text">
          <span class="name">안녕하세요, 박재성입니다.</span>
          <hr class="star-light" />
          <span class="skills">안양에서 3년차 웹/앱 프론트엔드 엔지니어로 일하고 있으며
				<br>
				다양한 인터페이스와 애니메이션을 구현하는 것을 좋아합니다.
				<br>
				개발자의 가치는 비즈니스 가치를 구현하는데서 나온다고 믿습니다.
				<br>
				주도적으로 업무를 진행할 수 있는 환경을 선호합니다.
			</span>
        </div>
      </div>
    </div>
  </div>
</header>
