<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Work Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" style="padding-bottom: 100px; padding-top: 200px;">
                <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
                <div class="intro-heading text-left" style="letter-spacing: 2px; line-height: 1.2;">반갑습니다,<br>저는 박재성입니다.</div>
                <div class="intro-heading text-left" style="font-size: 24px; margin: 0 auto; line-height: 1.8; word-break: keep-all;">안양에서 3년차 웹/앱 프론트엔드 엔지니어로 일하고 있으며<br>다양한 인터페이스와 애니메이션을 구현하는 것을 좋아합니다.<br>개발자의 가치는 비즈니스 가치를 구현하는데서 나온다고 믿습니다.<br>주도적으로 업무를 진행할 수 있는 환경을 선호합니다.</div>
                <a href="#services" class="page-scroll btn btn-xl" style="margin-top: 100px;">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

