<!DOCTYPE html>
<!-- Channel Plugin Scripts -->
<script>
	(function() {
	  var w = window;
	  if (w.ChannelIO) {
		 return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
	  }
	  var ch = function() {
		 ch.c(arguments);
	  };
	  ch.q = [];
	  ch.c = function(args) {
		 ch.q.push(args);
	  };
	  w.ChannelIO = ch;
	  function l() {
		 if (w.ChannelIOInitialized) {
			return;
		 }
		 w.ChannelIOInitialized = true;
		 var s = document.createElement('script');
		 s.type = 'text/javascript';
		 s.async = true;
		 s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
		 s.charset = 'UTF-8';
		 var x = document.getElementsByTagName('script')[0];
		 x.parentNode.insertBefore(s, x);
	  }
	  if (document.readyState === 'complete') {
		 l();
	  } else if (window.attachEvent) {
		 window.attachEvent('onload', l);
	  } else {
		 window.addEventListener('DOMContentLoaded', l, false);
		 window.addEventListener('load', l, false);
	  }
	})();
	ChannelIO('boot', {
	  "pluginKey": "d02a2d93-773b-49d1-93a9-8b2d48096a5e"
	});
 </script>
 <!-- End Channel Plugin -->
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include portfolio_grid.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>